{% load static bootstrap3 %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Alarm system dashboard</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/metisMenu/2.2.0/metisMenu.min.js"></script>
    <script src="{% static 'bootstrap.js' %}" type="text/javascript"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/metisMenu/2.2.0/metisMenu.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'compass/stylesheets/base.css' %}">
    {% block extra_css %}
    {% endblock %}

</head>
<body>
<div id="wrapper">

    {% include 'menu.html' %}

    <div id="page-wrapper" style="min-height: 431px;">
    {% bootstrap_messages %}
        {% block content %}
        {% endblock %}
    </div>
</div>

<script>
    $(function () {
        $('#side-menu').metisMenu();
    });

    $(document).ready(function() {
    $(".alert-success").fadeTo(3000, 500).slideUp(500, function(){
        $(this).alert('close');
    });
    });

    $(function () {
        $(window).bind("load resize", function () {
            topOffset = 50;
            width = (this.window.innerWidth > 0) ? this.window.innerWidth : this.screen.width;
            if (width < 768) {
                $('div.navbar-collapse').addClass('collapse');
                topOffset = 100; // 2-row-menu
            } else {
                $('div.navbar-collapse').removeClass('collapse');
            }

            height = ((this.window.innerHeight > 0) ? this.window.innerHeight : this.screen.height) - 1;
            height = height - topOffset;
            if (height < 1) height = 1;
            if (height > topOffset) {
                $("#page-wrapper").css("min-height", (height) + "px");
            }
        });

        var url = window.location;
        var element = $('ul.nav a').filter(function () {
            return this.href == url || url.href.indexOf(this.href) == 0;
        }).addClass('active').parent().parent().addClass('in').parent();
        if (element.is('li')) {
            element.addClass('active');
        }
    });
</script>
</body>
</html>